.data-selector {
    width: 100%;
    margin: 10px 10px;
    padding: 10px;
    z-index: 10;
}

.data-content-line {
    display: flex;
    flex-direction: column;
}

.data-content-line-closed {
    display: None;
}

.data-row {
    margin: 0px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.data-row-closed {
    margin: 0px 6px;
    display: flex;
    flex-direction: column;
}

.data-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px;
    padding: 0px;
}