.data-selector {
    width: 95%;
    margin: 10px 10px;
    padding-left: 10px;
    z-index: 10;
}

.data-content-line {
    display: flex;
    flex-direction: column;
}

.data-content-line-closed {
    display: None;
}

.data-row {
    margin: 0px 6px;
    display: flex;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1268px) {
    .data-row {
        flex-direction: column; /* Change to column layout for smaller screens */
    }
}
/*.template-button {*/
/*    flex-shrink: inherit;*/
/*    width: %;*/
/*    box-sizing: border-box;*/
/*}*/

.data-row-closed {
    margin: 0px 0px;
    display: flex;
    width: 95%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px;
    padding: 0px;
}