.property-range {
    width: 100%;
    /* border: 3px solid #E4E0EE; */
    margin: 0px 20px;
    padding: 10px;
}

.range-row {
    margin: 10px 0px;
}

/*.slider {*/
/*    width: 50%;*/
/*    margin: 20px 0 0 50px;*/
/*}*/
.range-content-line {
    display: flex;
    flex-direction: column;
}
.range-selection-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.range-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}